<main class="overflow-hidden">
  <div class="p-6 w-full h-full flex flex-col">
    <p class="text-2xl text-white mb-4">Create Customer</p>
    <div class="border-2 border-white p-6 sm:pb-12 w-full h-full">
      <p class="text-2xl text-white mb-4">Demographic Information</p>
      <form
        [formGroup]="customerForm"
        class="border-2 border-white p-6 pb-12 grid grid-cols-2 gap-6"
      >
        <div class="sm:col-span-1 sm:flex flex-col">
          <label class="text-xl font-semibold text-black" for="firstName"
            >First Name *</label
          >
          <input
            type="text"
            id="firstName"
            class="border p-2 rounded"
            formControlName="firstName"
          />
          <div
            *ngIf="
              customerForm.controls['firstName'].invalid &&
              customerForm.controls['firstName'].touched
            "
            class="text-red-600 font-bold"
          >
            First Name must be at least 2 characters long.
          </div>
        </div>

        <div class="col-span-1 flex flex-col">
          <label class="text-xl font-semibold text-black" for="middleName"
            >Middle Name</label
          >
          <input
            type="text"
            id="middleName"
            class="border p-2 rounded"
            formControlName="middleName"
          />
        </div>
        <div class="col-span-1 flex flex-col">
          <label class="text-xl font-semibold text-black" for="lastName"
            >Last Name *</label
          >
          <input
            type="text"
            id="lastName"
            class="border p-2 rounded"
            formControlName="lastName"
          />
          <div
            *ngIf="
              customerForm.controls['lastName'].invalid &&
              customerForm.controls['lastName'].touched
            "
            class="text-red-600 font-bold"
          >
            Last Name must be at least 2 characters long.
          </div>
        </div>

        <div class="col-span-1 flex flex-col">
          <label class="text-xl font-semibold text-black" for="birthDate"
            >Birth Date*</label
          >
          <input
            type="date"
            id="birthDate"
            class="border p-2 rounded"
            formControlName="birthDate"
            [max]="maxDate"
          />
        </div>

        <div class="col-span-1 flex flex-col">
          <label class="text-xl font-semibold text-black" for="gender"
            >Gender*</label
          >
          <select
            id="gender"
            class="border p-2 rounded"
            formControlName="gender"
          >
            <option value="" disabled>Select Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
          <div
            *ngIf="
              customerForm.controls['gender'].invalid &&
              customerForm.controls['gender'].touched
            "
            class="text-red-600 font-bold"
          >
            You must choose gender
          </div>
        </div>
        <div class="col-span-1 flex flex-col">
          <label class="text-xl font-semibold text-black" for="fatherName"
            >Father Name</label
          >
          <input
            type="text"
            id="fatherName"
            class="border p-2 rounded"
            formControlName="fatherName"
          />
        </div>
        <div class="col-span-1 flex flex-col">
          <label class="text-xl font-semibold text-black" for="motherName"
            >Mother Name</label
          >
          <input
            type="text"
            id="motherName"
            class="border p-2 rounded"
            formControlName="motherName"
          />
        </div>
        <div *ngIf="selectedOption === 'all'" class="col-span-1 flex flex-col">
          <label class="text-xl font-semibold text-black" for="nationalityId"
            >Nationality ID</label
          >
          <input
            type="text"
            id="nationalityId"
            class="border p-2 rounded"
            formControlName="nationalityId"
          />
          <div
            *ngIf="
              customerForm.controls['nationalityId'].invalid &&
              customerForm.controls['nationalityId'].touched
            "
            class="text-red-600 font-bold"
          >
            Nationality ID must be at least 11 characters long.
          </div>
        </div>
      </form>
      <div class="mt-4">
        <label class="text-xl font-semibold text-black">Nationality</label>
        <div class="flex items-center space-x-4 mt-2">
          <label class="flex items-center">
            <input
              type="radio"
              name="nationality"
              [(ngModel)]="selectedOption"
              value="all"
              class="mr-2"
            />
            Turkish
          </label>
          <label class="flex items-center">
            <input
              type="radio"
              name="nationality"
              [(ngModel)]="selectedOption"
              value="hide"
              class="mr-2"
            />
            Other
          </label>
        </div>
      </div>
      <div class="flex justify-around mt-6">
        <app-button
          [label]="'Exit'"
          [type]="'primary'"
          [width]="'150px'"
          [isDisabled]="false"
          (onClick)="showExitModal()"
        ></app-button>
        <app-button
          [label]="'Next'"
          [type]="'primary'"
          [width]="'150px'"
          [isDisabled]="false"
          (onClick)="handleButtonClick()"
        ></app-button>
      </div>
    </div>
  </div>

  <app-popup
  *ngIf="showExitPopup" 
  [modalWidth]="'700px'"
  [modalHeight]="'380px'"
  [title]="''"
  (onClose)="closeExitModal()"
>
  <div content>
    <form>
      <div class="sm:flex sm:gap-8 justify-around items-center">
        <div class="flex flex-col items-center">
          <svg class="w-[80px] h-[80px] text-red-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="10" fill="currentColor" /> 
            <path fill="#FFFFFF" d="M11 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm1 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"/> 
          </svg>
            <div>
                <p class="text-2xl text-white mt-10 text-center">Are you sure you want to exit without saving customer information?</p>
           
                
            </div>  
        </div>
    </div>
      <div class="sm:flex sm:gap-8 mt-20 justify-around">
        <app-button
          [label]="'Cancel'"
          [type]="'secondary'"
          [width]="'276px'"
          [style.height]="'63px'"
          [style.fontSize]="'25px'"
          [isDisabled]="false"
          (click)="closeExitModal()"
        ></app-button>
        <app-button
          [label]="'Confirm'"
          [type]="'secondary'"
          [width]="'276px'"
          [style.fontSize]="'25px'"
          [style.height]="'63px'"
          (click)="navigateToCustomerSearch()"
        ></app-button>
      </div>
    </form>
  </div>
</app-popup>
<app-popup
*ngIf="showModal" 
[modalWidth]="'733px'"
[modalHeight]="'343px'"
[title]="''"
(onClose)="closeModal()"
>
<div content>
  <form>
    <div class="sm:flex sm:gap-8 justify-around items-center">
      <div class="flex flex-col items-center">
        <svg class="w-[80px] h-[80px] text-red-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <circle cx="12" cy="12" r="10" fill="currentColor" /> 
          <path fill="#FFFFFF" d="M11 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm1 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"/> 
        </svg>
          <div>
              <p class="text-2xl text-white mt-10 text-center">Please fill all the mandatory fields!</p>
         
              
          </div>  
      </div>
  </div>
    <div class="sm:flex sm:gap-8 mt-20 justify-around">
      <app-button
        [label]="'OK'"
        [type]="'secondary'"
        [width]="'276px'"
        [style.height]="'63px'"
        [style.fontSize]="'25px'"
        [isDisabled]="false"
        (click)="closeModal()"
      ></app-button>
     
    </div>
  </form>
</div>
</app-popup>
</main>
