<div class="flex space-x-2">
  <button
    *ngFor="let page of pages"
    (click)="selectPage(page)"
    [ngClass]="{
      'bg-gray-500 text-white': page === currentPage,
      'bg-transparent text-black': page !== currentPage
    }"
    class="px-4 py-2 rounded transition-all duration-300"
  >
    {{ page }}
  </button>

  <!-- Son sayfaya atlama -->
  <span *ngIf="currentPage < totalPages - 2">...</span>
  <button
    *ngIf="currentPage < totalPages - 1"
    (click)="selectPage(totalPages)"
    [ngClass]="{
      'bg-gray-500 text-white': totalPages === currentPage,
      'bg-transparent text-black': totalPages !== currentPage
    }"
    class="px-4 py-2 rounded transition-all duration-300"
  >
    {{ totalPages }}
  </button>
</div>
